@{
    ViewData["Title"] = "О программе";
}

<div>
    <h1 class="text-center display-4">Кратко о программе</h1>
    <div class="container_p">
        <p class=>Приложение предназначено для доступа к файлам сервера, на котором запупущено приложение.</p>
        <p>При хостинге данного приложения есть возможность с любого компьютера, который подключен к сети, просматривать каталоги.</p>
    </div>
    
</div>

